name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.12.7"
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install yaml
        run: python -m pip install pyyaml
      - name: Install build
        run: python -m pip install build
      - name: Install twine
        run: python -m pip install twine
      - name: Install cfgtools
        run: python -m pip install cfgtools
      - name: Install re-extensions
        run: python -m pip install re-extensions
      - name: Build package
        run: python install.py
      - name: Publish package
        run: twine upload dist/* --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}
